*{
    padding: 0;
    margin: 0;
}

.main-screen{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

.header{
    /*width: 100%;*/
    height: 16%;
    background-color: aquamarine;
    /*padding-right: 300px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 220px;
}

/*.button{
    height: 40%;
    width: 12%;
    background-color: aliceblue;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.button{
    /*display: block;*/
    padding: 24px 40px 22px 40px;
    background-color: coral;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

/*.header__button{
    margin-left: 10px;
}*/

/*.header__button a{
    background: #FF055E;
    border-radius: 6px;    
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 65px;
}*/

.main-screen__content{
    height: 84%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 180px;
}

.main-screen__left-side{
    width: 43%;
}

.main-screen__headline{
    font-size: 46px;
    color: white;
}

.main-screen__paragraph{
    display: block;
    color: white;
    line-height: 26px;
    font-size: 18px;
}

.main-screen__paragraph-conteiner{
    padding-top: 30px;
    padding-bottom: 30px;
}